.contractor-container {
    border: 1px solid rgb(212, 212, 212);
    border-radius: 10px;
    margin-bottom: 10px;
    width: 65rem;
}

.contractor {
    display: flex;
}

.contractor-image {
    width: 20rem;
    height: 15rem;
    border: 1px solid black;
}

.contractor-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    margin-left: 2rem;
    width: 20rem;
}

.contractor-item_title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
}

.contractor-item_description {
    margin-bottom: 0.8rem;
}

.contractor-item_link {
    text-decoration: none;
    color: black;
    margin-right: 0.25rem;
}

.contractor-item_link:hover {
    border-bottom: 1px solid #000;
    padding-bottom: 3px;
}

.contractor-item_link:visited {
    text-decoration: none;
    color: black;
}

.contractor-metrics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    margin-left: 1rem;
}

.metrics-category {
    display: flex;
    align-items: center;
    margin-bottom: 0.8rem;
}

.icon-category {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.50rem;
}

.contractor-options {
    display: flex;
}

.contractor-option_item {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.contractor-option_item:hover {
    border-bottom: 1px solid #000;
    padding-bottom: 3px;
}

.contractors-list {
    width: 67rem;
    margin-left: auto;
    margin-right: auto;
}

.btn-create {
    width: 18rem;
    height: 2rem;
    background-color: black;
    color: white;
    border-radius: 0.5rem;
    font-weight: 700;
    text-align: center;
}

.contractors-elements {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.contractor-element_search {
    width: 18rem;
    height: 1.7rem;
    border-radius: 0.5rem;
    font-weight: 700;
    margin-left: 1rem;
}
