.taskForm {
    margin-left: auto;
    margin-right: auto;
    width: 60rem;
    margin-top: 2rem;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 10px;
    padding: 2rem;
}

.workOrderForm {
    margin-left: auto;
    margin-right: auto;
    width: 75rem;
    margin-top: 2rem;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 10px;
    padding: 2rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.btn-create_task {
    width: 18rem;
    height: 2rem;
    background-color: black;
    color: white;
    border-radius: 0.5rem;
    font-weight: 700;
    text-align: center;
    margin-top: 1rem;
}

.btn-create_task:hover {
    transform: scale(1.05)
}

.btn-container {
    display: flex;
    justify-content: flex-end;
}

.taskForm_groups {
    display: flex;
}

.form-image {
    margin-top: 0.75rem;
}

.form-control_description {
    width: 25rem;
    height: 6rem;
    padding: 0;
    margin-top: 0.4rem;
    background-color: rgba(237, 237, 237, 0.845);
    border: .15rem solid  rgb(230, 230, 230);
    border-radius: .2rem;
}

.taskform-options {
    margin-left: 2rem;
}