/* Import the google web fonts you want to use */
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*
Color Palette: 
  Enery Peak Color Palette from VistaPrint
  Primary text: #574848 (brown)
  Secondary text: #B9625D (red)
  Background: #FFFFFF (white)
  Supporting color: #C5B3B3 (gray)

Text Fonts:
  Primary text: Quicksand Bold 
  Secondary text: Quicksand Medium
*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html, body {
  padding:0; 
  margin:0; 
  height:100%;
  font-family: 'Quicksand', sans-serif;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Quicksand', sans-serif;
}
