.househub-footer {
    width: 100vw; 
    height: 5rem;
    background-color: #574848; 
    margin-top: auto;
    text-align: center;
    position: fixed;
    bottom: 0; 
    left: 0; 
}

.img-icon  {
    width: 4rem;
    height: 4rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
}