@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

.container-header {
    width: 100vw; 
    height: 9rem;
    background-color: #574848; 
}

.container-header_register {
    width: 100vw; 
    height: 9rem;
    background-color: #B9625D; 
}

.container-footer {
    width: 100vw; 
    height: 9rem;
    background-color: #574848; 
    margin-top: auto;
    text-align: center;
    position: fixed;
    bottom: 0; 
    left: 0; 
}

.container-footer_register {
    width: 100vw; 
    height: 9rem;
    background-color: #B9625D; 
    margin-top: auto;
    text-align: center;
    position: fixed;
    bottom: 0; 
    left: 0; 
}

.img-header, .img-footer  {
    width: 8rem;
    height: 8rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.container-media {
    display: flex;
    width: 30rem;
    align-content: center;
}

.container-reviews {
    display: flex;
    width: 30rem;
    align-content: center;
    border: 0.1rem solid #b4a3a3; 
    background-color: #C5B3B3;
    text-shadow: 1px 1px 2px black;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.login-video {
    width: 30rem;
    border: 0.1rem solid black; 
}

.auth {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.auth-header {
    text-align: center;
    margin-top: 2rem;
}

.container-content {
    display: flex; 
    flex-direction: row;
    margin-top: 2rem;
    width: 62rem;
    margin-left: auto;
    margin-right: auto;
}

.container--login, .container--register {
    width: 30rem;
    margin-left: 2rem;
    border: 0.1rem solid black;
}

.form-login, .form-register {
    text-align: center;
}

.form-control {
    width: 18rem;
    height: 2.3rem;
    padding: 0;
    margin-top: 0.4rem;
    background-color: rgba(237, 237, 237, 0.845);
    border: .15rem solid  rgb(230, 230, 230);
    border-radius: .2rem;

}

.btn-login, .btn-register {
    width: 18rem;
    height: 2rem;
    background-color: black;
    color: white;
    border-radius: 0.5rem;
    font-weight: 700;
}

.link-register {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: black;
    font-size: large;
    font-weight: 700;
}

.link-register:hover {
    border-bottom: 1px solid #000;
    padding-bottom: 3px;
}

.link-register:visited {
    text-decoration: none;
    color: black;
}

fieldset {
    border: none; 
}

.email, .name {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    text-align: left;
    margin-left: 5rem;
    font-weight: 500;
}

.divider {
    width: 18rem;
    margin-bottom: 1rem; 
}

.slogan {
    font-family: 'Oleo Script', cursive;
    font-weight: 400;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}

.icon {
    height: 30px;
    width: 30px;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.review-photo {
    width: 8rem;
    height: 8rem;
    border-radius: 10rem;
    margin-top: 0.5rem;
    margin-left: 2rem;
    margin-bottom: 0.5rem;
}

.review-comment {
 width: 27rem; 
 margin-left: 1.5rem;
}

.review-stars {
    width: 2rem;
    height: 2rem;
}

.review-footer {
    display: flex; 
    justify-content: space-around;
    width: 25rem;
    margin-left: 2.5rem;
}

.review-rating {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}